In [4]:
import GetOldTweets3 as got
import pandas as pd

In [5]:
# Hashtags of Laptop Brands Tweets:
# 1) HP -> hpspectre, hpenvy, hpelitebook
# 2) Apple -> macbookpro, mackbookair
# 3) Dell -> dellinspiron, dellxps13, dellxps15
# 4) Asus -> zenbook, vivobook, studiobook
# 5) Lenovo -> thinkpad, lenovoyoga
# 6) Acer -> acerswift7, aceraspire, acerswift3, acerswift5

### HP Laptop Tweets

In [6]:
text_query = 'hpspectre'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df1 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df1['model'] = 'HP Spectre'
print(df1.shape)
df1.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-25 04:59:05+00:00,My #stayhome setup. Thinking I might do a live...,HP Spectre
1,2020-03-24 02:19:11+00:00,#Tecnología - Revisión portátil convertible #H...,HP Spectre

In [7]:
text_query = 'hpenvy'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df2 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df2['model'] = 'HP Envy'
print(df2.shape)
df2.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-28 02:40:08+00:00,Am I alone in not liking the sound quality com...,HP Envy
1,2020-03-27 09:12:36+00:00,Wu-,HP Envy

In [8]:
text_query = 'hpelitebook'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df3 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df3['model'] = 'HP Elitebook'
print(df3.shape)
df3.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-29 05:18:53+00:00,Looking for a new emulation that makes me Happ...,HP Elitebook
1,2020-03-28 10:55:55+00:00,#Openbox HP Elitebook 840 G6 8365U 14 Laptop a...,HP Elitebook

### Apple Laptop Tweets

In [9]:
text_query = 'macbookpro'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df4 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df4['model'] = 'Macbook Pro'
print(df4.shape)
df4.head(2)

(1500, 3)

,timestamp,text,model
0,2020-03-30 23:59:54+00:00,Handed down my MacBook Pro to my wife because ...,Macbook Pro
1,2020-03-30 23:58:22+00:00,MacBook Pro touchbar IPad Pro iPhone 11pro/max...,Macbook Pro

In [10]:
text_query = 'macbookair'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df5 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df5['model'] = 'Macbook Air'
print(df5.shape)
df5.head(2)

(1500, 3)

,timestamp,text,model
0,2020-03-30 23:59:27+00:00,うちも妻のスイッチライト、僕のMacBook Airと経済活動に積極的なのでぜひとも。,Macbook Air
1,2020-03-30 23:59:25+00:00,次の構成で #mac で #マイナンバーカード が使えました。 マイナポータルや国税庁確定申...,Macbook Air

### Dell Laptop Tweets

In [11]:
text_query = 'dellinspiron'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df6 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df6['model'] = 'Dell Inspiron'
print(df6.shape)
df6.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-27 18:52:00+00:00,"#DellInspiron 15 7000 review: Powerful, afford...",Dell Inspiron
1,2020-03-27 16:57:51+00:00,Dell Inspiron Intel Core i7 8° geração pronto....,Dell Inspiron

In [12]:
text_query = 'dellxps13'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df7 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df7['model'] = 'Dell XPS 13'
print(df7.shape)
df7.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-30 22:44:52+00:00,Le nouveau Dell XPS 13 est disponible en exclu...,Dell XPS 13
1,2020-03-30 21:19:48+00:00,But can it run Linux? I'm looking for a 2-in-1...,Dell XPS 13

In [25]:
text_query = 'dellxps15'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df8 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df8['model'] = 'Dell XPS 15'
print(df8.shape)
df8.head(2)

(941, 3)

,timestamp,text,model
0,2020-03-28 10:55:25+00:00,Dell XPS 15 7590 배터리 최적화 방법 6가지(11시간) https://...,Dell XPS 15
1,2020-03-17 16:58:32+00:00,Des gens ici utilisent un Msi prestige 15 ? Ou...,Dell XPS 15

### Asus Laptop Tweets

In [14]:
text_query = 'zenbook'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df9 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df9['model'] = 'Asus Zenbook'
print(df9.shape)
df9.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-30 23:36:21+00:00,released na pala yung zenbook pro duo,Asus Zenbook
1,2020-03-30 23:11:23+00:00,Yeah. I really like my MacBook pro. The qualit...,Asus Zenbook

In [15]:
text_query = 'vivobook'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df10 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df10['model'] = 'Asus Vivobook'
print(df10.shape)
df10.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-30 23:04:32+00:00,Asus vivobook enaqqq,Asus Vivobook
1,2020-03-30 22:03:05+00:00,¡El único ordenador portátil con DOS pantallas...,Asus Vivobook

In [16]:
text_query = 'studiobook'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df11 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df11['model'] = 'Asus Studiobook'
print(df11.shape)
df11.head(2)

(1000, 3)

,timestamp,text,model
0,2020-03-28 08:47:58+00:00,"Build a stronger, healthier and more profitabl...",Asus Studiobook
1,2020-03-27 09:59:09+00:00,El procesador de alto rendimiento del #ProArt ...,Asus Studiobook

### Lenovo Laptop Tweets

In [17]:
text_query = 'thinkpad'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df12 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df12['model'] = 'Lenovo Thinkpad'
print(df12.shape)
df12.head(2)

(1500, 3)

                  timestamp        text            model
0 2020-03-30 23:59:38+00:00          は？  Lenovo Thinkpad
1 2020-03-30 23:59:03+00:00  あとプラスで顔面崩壊  Lenovo Thinkpad

In [19]:
text_query = 'lenovoyoga'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df13 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df13['model'] = 'Lenovo Yoga'
print(df13.shape)
df13.head(2)

(1500, 3)

,timestamp,text,model
0,2020-03-30 20:54:59+00:00,Com a inteligência artificial do Lenovo Yoga S...,Lenovo Yoga
1,2020-03-30 16:21:03+00:00,"USB C to Dual HDMI Adapter 4K @60hz,Type C to ...",Lenovo Yoga

### Acer Laptop Tweets

In [26]:
text_query = 'acerswift7'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df14 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df14['model'] = 'Acer Swift 7'
print(df14.shape)
df14.head(2)

(383, 3)

,timestamp,text,model
0,2020-03-11 12:42:40+00:00,Abbiamo testato per qualche settimana Acer Swi...,Acer Swift 7
1,2020-03-02 15:00:02+00:00,"Acer Swift 7 (SF714-51T-M97L) 14"" Touch Full H...",Acer Swift 7

In [21]:
text_query = 'aceraspire'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df15 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df15['model'] = 'Acer Aspire'
print(df15.shape)
df15.head(2)

(1500, 3)

,timestamp,text,model
0,2020-03-19 05:43:39+00:00,Acer laptop yg sudah lama menemani kita semuan...,Acer Aspire
1,2020-03-19 05:40:49+00:00,Laptop Acer buat kebutuhan sehari - hari yg pa...,Acer Aspire

In [27]:
text_query = 'acerswift3'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df16 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df16['model'] = 'Acer Swift 3'
print(df16.shape)
df16.head(2)

(254, 3)

,timestamp,text,model
0,2020-03-30 15:07:06+00:00,Acer Aspire 5 serisi için de Ryzen işlemci seç...,Acer Swift 3
1,2020-03-25 11:59:18+00:00,PC(Acerswift3)を実質5万円で購入,Acer Swift 3

In [28]:
text_query = 'acerswift5'
since_date = '2010-01-01'
until_date = '2020-03-31'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df17 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df17['model'] = 'Acer Swift 5'
print(df17.shape)
df17.head(2)

(252, 3)

,timestamp,text,model
0,2020-03-28 16:00:03+00:00,Acer Swift 5 SF514-54T-76PY review: Dazzling a...,Acer Swift 5
1,2020-03-15 23:43:11+00:00,Acer Swift 5 SF514-54T-76PY unboxing and first...,Acer Swift 5

### Combine all brand tweets

In [29]:
df_hp = pd.concat([df1, df2, df3], axis=0)
df_mac = pd.concat([df4, df5], axis=0)
df_dell = pd.concat([df6, df7, df8], axis=0)
df_asus = pd.concat([df9, df10, df11], axis=0)
df_lenovo = pd.concat([df12, df13], axis=0)
df_acer = pd.concat([df14, df15, df16, df17], axis=0)
df_all = pd.concat([df_hp, df_mac, df_dell, df_asus, df_lenovo, df_acer], axis=0)
print(df_all.shape)

(17330, 3)

In [30]:
df_all.to_csv("twitter.csv", index = False, header=True)